<h1>Add a Doctor</h1>

<form action = "/doctors" method = "post">
  <label for = "newDoctor">Doctor name</label>
  <input id = "newDoctor" name = "newDoctor" type="text"></input>
  <label for = "speciality">Speciality</label>
  <input id = "speciality" name = "speciality" type="text"></input>

  <button type="submit" class = "btn">Submit</button>
</form>
